 <%- include("partials/header.ejs")  %>
    <div class="main">
        <h2>Fell free to read</h2>
        <ul>
            <% function nl2br(str) { return str.replace(/\n/g, '<br>'); } %>

            <% for(let i=0; i<posts.length ; i++){%>
                <li class="mainPortal"> 
                    <div class="topPart">
                        <p id="author">Author: <%= posts[i].aurthor %> </p>
                        <p id="time"><%= posts[i].time %></p>
                    </div> 
                    <h1><%= posts[i].heading  %></h1>
                    <p class="content" style="display: none;"><%- nl2br(posts[i].content) %></p>  
                    <div class="buttons">
                        <button class="read" data-index="<%= i %>" >Read</button>
                        
                        <button class="edit" data-index="<%= i %>">Edit</button>
                    
                        <form action="/delete/<%= i %>" method="post" class="deleteForm" style="display:inline;">
                            <button type="button" class="delete" data-index="<%= i %>">Delete</button>
                        </form>

                    </div>
                </li>
            <% } %>
        </ul>
      </div>
    <%- include("partials/footer.ejs")  %>  
    <script src="/main.js"></script>