<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Blog</title>
</head>
<body>
    <%- include("partials/header.ejs")  %>
    <div class="main">
        <h2>Fell free to read</h2>
        <ul>
            <% function nl2br(str) { return str.replace(/\n/g, '<br>'); } %>

            <% posts.forEach(post=>{ %>
                <li> 
                    <div class="topPart">
                        <p id="aurthor">Author: <%= post.aurthor %> </p>
                        <p id="time"> <%= post.time %> </p>
                    </div> 
                    <h1><%= post.heading  %></h1>
                    <p><%- nl2br(post.content) %></p>  

                </li>
            <% }) %>
        </ul>
      </div>
    <%- include("partials/footer.ejs")  %>  
</body>
</html>